.sidebar {
  min-height: 100vh;
  padding: 20px;
  top: 0;
  left: 0;
  text-align: center;
  border-right: 1px solid #aeb2b4;
  background-color: #eef0f3;
}

.sidebar img {
  width: 260px;
  height: auto;
  margin-bottom: 25px;
}

.item {
  margin-bottom: 35px;
}

.label {
  display: block;
  font-size: 20px;
  color: #555;
  text-transform: uppercase;
  font-weight: 500;
}

.value {
  display: block;
  font-size: 26px;
  color: #000000;
  font-weight: bold;
}
