<div class="d-flex flex-column sidebar">
  <img [src]="logoUrl" alt="">
  <div class="item">
    <span class="label">Matricula</span>
    <span class="value">{{matricula}}</span>
  </div>
  <div class="item">
    <span class="label">Desenho</span>
    <span class="value">{{desenho}}</span>
  </div>
  <div class="item">
    <span class="label">Número Transpalet</span>
    <span class="value">{{transpalet}}</span>
  </div>
  <div class="item">
    <span class="label">Receita</span>
    <span class="value">{{receita}}</span>
  </div>
</div>
