.sidebar {
  min-height: 100vh;
  padding: 20px;
  top: 0;
  left: 0;
  text-align: center;
  border-right: 1px solid #aeb2b4;
  background-color: #eef0f3;
  transition: width 0.3s ease;
}

.sidebar img {
  width: 260px;
  height: auto;
  margin-bottom: 15px;
}
