body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  height: 800px;
  overflow: hidden; /* Remove a barra de scroll */
  position: relative; /* Ajuda a conter a imagem rotacionada */
}

.message {
  background-color: #eef0f3;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

img {
  max-width: auto;
  max-height: 1100px;
  margin-top: -120px;
  margin-left: 220px;
  transform: rotate(90deg);
  display: block; /* Remove espaços indesejados abaixo da imagem */
  object-fit: contain; /* Garante que a imagem se ajuste ao espaço disponível */
}

.text-green {
  background-color: rgb(57, 222, 57);
}

.text-red {
  background-color: rgb(216, 28, 28)
}

.text-blue {
  background-color: rgb(48, 115, 208)
}
