body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  height: 800px;
  overflow: hidden; /* Remove a barra de scroll */
  position: relative; /* Ajuda a conter a imagem rotacionada */
}

img {
  max-width: auto;
  max-height: 1200px;
  margin-top: -120px;
  margin-left: 170px;
  transform: rotate(90deg);
  display: block; /* Remove espaços indesejados abaixo da imagem */
  object-fit: contain; /* Garante que a imagem se ajuste ao espaço disponível */
}
